:root {
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.full-layout {
  margin: 0 auto;
  max-width: 1200px;
}

div {
  margin-bottom: 10px;
}

.res {
  margin-top: 50px;
}

.result {
  margin-bottom: 50px;
}
